


.fn-bold {
    font-family: yknBold;
}

.fn-normal {
    font-family: yknNormal;
    
}

.fn-fat {
    font-family: yknFat;
}

.fns-14 {
    font-size: 14px !important;
}


.fns-16 {
    font-size: 16px !important;
}

.fns-18 {
    font-size: 18px !important;
}



.fns-20 {
    font-size: 20px !important;
}

.fns-25 {
    font-size: 25px !important;
}

.fns-30 {
    font-size: 30px !important;
}

.fns-35 {
    font-size: 35px !important;
}

.fns-40 {
    font-size: 40px !important;
}


.fns-45 {
    font-size: 45px !important;
}

.fns-50 {
    font-size: 50px !important;
}