
.form-control {
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.form-control:focus {
    border-color: $silver;
    box-shadow: inset 0 1px 1px $silver, 0 0 8px $silver;
  }

input[type=file] {
    background-color: $white;
    min-width: 100%;
    border:solid 1px $silver-brdr;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
 }


.btn {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}